<h2>Sign in</h2>
<div class="col-md-4">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <fieldset class="form-group">
        <%= f.label :email %><br/>
        <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
      </fieldset>

      <fieldset class="form-group">
        <%= f.label :password %><br/>
        <%= f.password_field :password, class: 'form-control' %>
      </fieldset>

      <div><%= f.submit "Sign in",class: 'btn btn-primary' %></div>
  <% end %>
</div>

<%#= render "devise/shared/links" %>
